<script>

//var Map = [];
/* $(document).ready(function(){
	$('#selectState option').each(function(){
		console.log($(this).val())
		var state = $(this).val();
		 $.get("/get-source/"+$(this).val(), function(result){			 
			 $(result).find('#selectDistrict option').each(function(){
				 var dist = $(this).val();
				 $.get("/get-source/" + state + "/" + dist, function(result){
					 $(result).find('#selectCity option').each(function(){
						 var city = $(this).val();
						 $.get("/get-source/" + state + "/" + dist + "/" + city, function(result){
							 $(result).find('#selectPostoffice option').each(function(){
								 var post = $(this).val();
							
								 $.get("/get-source/" + state + "/" + dist + "/" + city+"/"+post, function(result){
									

								 });
								// Map.push({state,dist,city,p});
							 });
						 })
					 });
				 });
				
		 	  });
	     });
			// console.log(JSON.stringify(Map));
	});
});  */


</script>